@import 'bootstrap-sprockets';
@import 'bootstrap';

.top-5{
    margin-top: 5px;
}

.top-15{
    margin-top: 15px;
}

.bottom-10{
    margin-bottom: 10px;
}

.padding-10{
    padding: 10px;
}

.float-right{
    float:right
}

.create{
    position: absolute;
    top: 4px;
    right: 20px;
}